body {
    background-color: skyblue;
}

{
    box-sizing: border-box;
}

p{
    font-size:24px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 8.33%;
}



.col-9 {
    width: 75%;
}


html {
    font-family: "Lucida Sans", sans-serif;
    height: 100%;
   
    overflow:scroll;
}

.header {
    background-color: dodgerblue;
    color: white;
    padding: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

    .menu li:hover {
        background-color: #0099cc;
    }
   .paragraph{
       width: 600px;
       text-align:center;
       font-family:acumin-pro-condensed;
       font-size: 24px;
   }
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * acumin-pro:
 *   - http://typekit.com/eulas/00000000000000003b9acafc
 *   - http://typekit.com/eulas/00000000000000003b9acafd
 *   - http://typekit.com/eulas/00000000000000003b9acaf7
 *   - http://typekit.com/eulas/00000000000000003b9acaf6
 * acumin-pro-condensed:
 *   - http://typekit.com/eulas/00000000000000003b9acb0e
 *   - http://typekit.com/eulas/00000000000000003b9acb0f
 *   - http://typekit.com/eulas/00000000000000003b9acb08
 *   - http://typekit.com/eulas/00000000000000003b9acb09
 * acumin-pro-extra-condensed:
 *   - http://typekit.com/eulas/00000000000000003b9acb20
 *   - http://typekit.com/eulas/00000000000000003b9acb21
 *   - http://typekit.com/eulas/00000000000000003b9acb1a
 *   - http://typekit.com/eulas/00000000000000003b9acb1b
 * acumin-pro-semi-condensed:
 *   - http://typekit.com/eulas/00000000000000003b9acb33
 *   - http://typekit.com/eulas/00000000000000003b9acb34
 *   - http://typekit.com/eulas/00000000000000003b9acb2d
 *   - http://typekit.com/eulas/00000000000000003b9acb2e
 * acumin-pro-wide:
 *   - http://typekit.com/eulas/00000000000000003b9acb45
 *   - http://typekit.com/eulas/00000000000000003b9acb46
 *   - http://typekit.com/eulas/00000000000000003b9acb3f
 *   - http://typekit.com/eulas/00000000000000003b9acb40
 * captain-comic:
 *   - http://typekit.com/eulas/00000000000000003b9b3863
 *   - http://typekit.com/eulas/00000000000000003b9b3864
 *   - http://typekit.com/eulas/00000000000000003b9b3865
 *   - http://typekit.com/eulas/00000000000000003b9b3866
 * emploi-ingenue:
 *   - http://typekit.com/eulas/00000000000000003b9b38b8
 * emploi-travesti:
 *   - http://typekit.com/eulas/00000000000000003b9b38b9
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-06-10 18:54:32 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=dld5gsp&ht=tk&f=26053.26054.26056.26062.25998.25999.26000.26001.26016.26017.26018.26019.26036.26037.26046.26047.26072.26073.26086.26087.43288.43289.43290.43291.42848.42847&a=9402841&app=typekit&e=css");

@font-face {
    font-family: "acumin-pro";
    src: url("https://use.typekit.net/af/6d4bb2/00000000000000003b9acafc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/6d4bb2/00000000000000003b9acafc/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/6d4bb2/00000000000000003b9acafc/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "acumin-pro";
    src: url("https://use.typekit.net/af/6ce26b/00000000000000003b9acafd/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/6ce26b/00000000000000003b9acafd/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/6ce26b/00000000000000003b9acafd/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "acumin-pro";
    src: url("https://use.typekit.net/af/aa5b59/00000000000000003b9acaf7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/aa5b59/00000000000000003b9acaf7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/aa5b59/00000000000000003b9acaf7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "acumin-pro";
    src: url("https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/46da36/00000000000000003b9acaf6/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "acumin-pro-condensed";
    src: url("https://use.typekit.net/af/69b3c5/00000000000000003b9acb0e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/69b3c5/00000000000000003b9acb0e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/69b3c5/00000000000000003b9acb0e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "acumin-pro-condensed";
    src: url("https://use.typekit.net/af/d99dcd/00000000000000003b9acb0f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/d99dcd/00000000000000003b9acb0f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/d99dcd/00000000000000003b9acb0f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "acumin-pro-condensed";
    src: url("https://use.typekit.net/af/4b28f4/00000000000000003b9acb08/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/4b28f4/00000000000000003b9acb08/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/4b28f4/00000000000000003b9acb08/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "acumin-pro-condensed";
    src: url("https://use.typekit.net/af/9832ec/00000000000000003b9acb09/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/9832ec/00000000000000003b9acb09/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/9832ec/00000000000000003b9acb09/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "acumin-pro-extra-condensed";
    src: url("https://use.typekit.net/af/c4767b/00000000000000003b9acb20/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/c4767b/00000000000000003b9acb20/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/c4767b/00000000000000003b9acb20/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "acumin-pro-extra-condensed";
    src: url("https://use.typekit.net/af/289661/00000000000000003b9acb21/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/289661/00000000000000003b9acb21/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/289661/00000000000000003b9acb21/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "acumin-pro-extra-condensed";
    src: url("https://use.typekit.net/af/f2b2eb/00000000000000003b9acb1a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/f2b2eb/00000000000000003b9acb1a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/f2b2eb/00000000000000003b9acb1a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "acumin-pro-extra-condensed";
    src: url("https://use.typekit.net/af/c830f2/00000000000000003b9acb1b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/c830f2/00000000000000003b9acb1b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/c830f2/00000000000000003b9acb1b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "acumin-pro-semi-condensed";
    src: url("https://use.typekit.net/af/ee7f3d/00000000000000003b9acb33/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/ee7f3d/00000000000000003b9acb33/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/ee7f3d/00000000000000003b9acb33/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "acumin-pro-semi-condensed";
    src: url("https://use.typekit.net/af/503f80/00000000000000003b9acb34/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/503f80/00000000000000003b9acb34/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/503f80/00000000000000003b9acb34/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "acumin-pro-semi-condensed";
    src: url("https://use.typekit.net/af/3f7b4d/00000000000000003b9acb2d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3f7b4d/00000000000000003b9acb2d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3f7b4d/00000000000000003b9acb2d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "acumin-pro-semi-condensed";
    src: url("https://use.typekit.net/af/761912/00000000000000003b9acb2e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/761912/00000000000000003b9acb2e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/761912/00000000000000003b9acb2e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "acumin-pro-wide";
    src: url("https://use.typekit.net/af/be1794/00000000000000003b9acb45/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/be1794/00000000000000003b9acb45/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/be1794/00000000000000003b9acb45/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "acumin-pro-wide";
    src: url("https://use.typekit.net/af/72fcf6/00000000000000003b9acb46/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/72fcf6/00000000000000003b9acb46/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/72fcf6/00000000000000003b9acb46/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "acumin-pro-wide";
    src: url("https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/e3a744/00000000000000003b9acb3f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "acumin-pro-wide";
    src: url("https://use.typekit.net/af/a77ed7/00000000000000003b9acb40/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/a77ed7/00000000000000003b9acb40/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/a77ed7/00000000000000003b9acb40/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "captain-comic";
    src: url("https://use.typekit.net/af/a9332e/00000000000000003b9b3863/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a9332e/00000000000000003b9b3863/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a9332e/00000000000000003b9b3863/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "captain-comic";
    src: url("https://use.typekit.net/af/364afb/00000000000000003b9b3864/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/364afb/00000000000000003b9b3864/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/364afb/00000000000000003b9b3864/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "captain-comic";
    src: url("https://use.typekit.net/af/732ea8/00000000000000003b9b3865/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/732ea8/00000000000000003b9b3865/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/732ea8/00000000000000003b9b3865/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "captain-comic";
    src: url("https://use.typekit.net/af/da6b24/00000000000000003b9b3866/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/da6b24/00000000000000003b9b3866/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/da6b24/00000000000000003b9b3866/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "emploi-travesti";
    src: url("https://use.typekit.net/af/09eed1/00000000000000003b9b38b9/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/09eed1/00000000000000003b9b38b9/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/09eed1/00000000000000003b9b38b9/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "emploi-ingenue";
    src: url("https://use.typekit.net/af/72b3e4/00000000000000003b9b38b8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/72b3e4/00000000000000003b9b38b8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/72b3e4/00000000000000003b9b38b8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
    font-style: normal;
    font-weight: 400;
}

.tk-acumin-pro {
    font-family: "acumin-pro",sans-serif;
}

.tk-acumin-pro-condensed {
    font-family: "acumin-pro-condensed",sans-serif;
}

.tk-acumin-pro-extra-condensed {
    font-family: "acumin-pro-extra-condensed",sans-serif;
}

.tk-acumin-pro-semi-condensed {
    font-family: "acumin-pro-semi-condensed",sans-serif;
}

.tk-acumin-pro-wide {
    font-family: "acumin-pro-wide",sans-serif;
}

.tk-captain-comic {
    font-family: "captain-comic",sans-serif;
}

.tk-emploi-travesti {
    font-family: "emploi-travesti",serif;
}

.tk-emploi-ingenue {
    font-family: "emploi-ingenue",serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    overflow: hidden;
}

.none {
    transform: rotate(-58deg);
    position: absolute;
    display: block;
    height: 100%;
    opacity: 0;
    right: -400px;
    top: -600px;
    background-color: #A7E7D9;
    width: 0px;
    z-index: 3;
    padding-top: 20vh;
    transition-duration: 1s;
    z-index: 5;
}





.icons {
    display: block;
    margin-top: 35px;
}

    .icons a {
        
    }

    .icons img {
        display: inline-block;
        height: 50px;
        opacity: .3;
        margin-right: 10px;
        margin-left: 20px;
        transition: all .3s;
    }

        .icons img:hover {
            opacity: 1;
        }

        .icons img:nth-child(1) {
            margin-left: 0px;
        }


    .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    background-color:white;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    img {
    border-radius: 5px 5px 0 0;
    }

.container {
    padding: 2px 16px;
}       

.home, .about, .projects, .contact {
    margin: 30px;
}




* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    overflow: hidden;
}

.none {
    transform: rotate(-58deg);
    position: absolute;
    display: block;
    height: 100%;
    opacity: 0;
    right: -400px;
    top: -600px;
    background-color: #A7E7D9;
    width: 0px;
    z-index: 3;
    padding-top: 20vh;
    transition-duration: 1s;
    z-index: 5;
}

    .none p {
        opacity: 0;
    }

    .none .icons {
        display: inline-block;
        position: absolute;
        bottom: 425px;
    }

        .none .icons img {
            display: inline-block;
            height: 25px;
            opacity: 0;
            margin-right: 10px;
            margin-left: 20px;
        }

            .none .icons img:nth-child(1) {
                margin-left: 250px;
            }

.main-content {
    overflow-x: hidden;
    background: url("../images/background.png");
    background-position: right;
    /* Center the image */
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
    background-color: #464646;
    padding: 50px 50px 50px 100px;
    position: relative;
}

    .main-content .ham {
        content: '';
        width: 50px;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 10;
        background: url("../images/hamburger.png");
        height: 35px;
        /* You must set a specified height */
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* Resize the background image to cover the entire container */
        transition-duration: 1s;
    }

    .main-content .close {
        content: '';
        width: 35px;
        position: absolute;
        top: 30px;
        right: 30px;
        z-index: 10;
        background: url("../images/close.png");
        height: 35px;
        /* You must set a specified height */
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .main-content .tag {
        display: block;
        position: absolute;
        font-size: 15px;
        font-weight: 100;
        font-family: ff-market-web, sans-serif;
        color: #767676;
        top: 30px;
        margin-left: -20px;
    }

    .main-content .tag-end {
        display: block;
        position: absolute;
        font-size: 15px;
        font-weight: 100;
        font-family: ff-market-web, sans-serif;
        color: #767676;
        bottom: 135px;
        margin-left: -20px;
    }

    .main-content h1 {
        margin-top: 27vh;
        font-size: 120px;
        font-family: Acier-BAT-Noir, sans-serif;
        font-weight: 400;
        font-style: normal;
        color: white;
    }

        .main-content h1::before, .main-content h1::after {
            display: block;
            font-size: 15px;
            font-weight: 100;
            font-family: ff-market-web, sans-serif;
            color: #767676;
        }

        .main-content h1::before {
            content: '</h1>';
            display: block;
        }

        .main-content h1::after {
            content: '</h1>';
            display: block;
        }

    .main-content p {
        font-family: nunito-sans, sans-serif;
        font-size: 20px;
        color: #E0E0E0;
        font-weight: lighter;
        margin-top: 20px;
    }

    .main-content button {
        font-family: nunito-sans, sans-serif;
        font-size: 15px;
        letter-spacing: 2px;
        padding: 10px;
        background-color: transparent;
        color: #A7E7D9;
        border: 1px solid #A7E7D9;
        margin-top: 40px;
        border-radius: 8px;
        transition-duration: .5s;
    }

        .main-content button:hover {
            background-color: #A7E7D9;
            color: white;
        }

    .main-content .navbar {
        transform: rotate(-57.5deg);
        animation: nav-slide-in .5s;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease;
        -webkit-animation-fill-mode: backwards;
        display: block;
        height: 100%;
        opacity: 1;
        right: -85px;
        top: -610px;
        background-color: #A8F4DF;
        width: 700px;
        z-index: 3;
        transition-duration: .5s;
        z-index: 5;
    }

        .main-content .navbar a {
            text-decoration: none;
        }

        .main-content .navbar p, .main-content .navbar h2 {
            transform-origin: center;
            transform: rotate(57deg) translate(200px, 250px);
            color: #4C4C4C;
            font-family: nunito-sans, sans-serif;
            font-size: 35px;
            letter-spacing: 5px;
            font-weight: light;
            text-justify: auto;
            text-align: left;
            margin-top: 60px;
            margin-bottom: 20px;
            opacity: 1;
            z-index: 9;
        }

            .main-content .navbar p:hover, .main-content .navbar h2:hover {
                color: white;
            }

.icons {
    display: block;
    margin-top: 50px;
}

    .icons a {
        margin-right: 40px;
    }

    .icons img {
        display: inline-block;
        height: 70px;
        opacity: .3;
        margin-right: 0px;
        margin-left: 0px;
        transition: all .3s;
    }

        .icons img:hover {
            opacity: 1;
        }

        .icons img:nth-child(1) {
            margin-left: 10px;
        }

.home, .about, .projects, .contact {
    margin: 30px;
}

@keyframes nav-slide-in {
    0% {
        background-color: transparent;
        width: 0px;
        opacity: 0;
        right: -400px;
        top: -600px;
    }

    100% {
        width: 700px;
        opacity: 1;
    }
}

@keyframes nav-slide-out {
    0% {
        width: 700px;
        opacity: 1;
    }

    100% {
        width: 700px;
        opacity: 1;
    }
}

@keyframes nav-slide-in-gray {
    0% {
        right: 0;
        width: 700px;
        opacity: 1;
    }

    100% {
        right: 690px;
        width: 0px;
        opacity: 1;
    }
}

@media screen and (max-width: 360px) {
    .main-content {
        padding: 25px;
        overflow-x: hidden;
    }

        .main-content h1 {
            font-size: 30px;
            margin-top: 20px;
        }

        .main-content .tag-end {
            margin-top: 20px;
        }

        .main-content p {
            font-size: 20px;
        }

        .main-content .ham {
            width: 30px;
            height: 25px;
        }

        .main-content .navbar {
            width: 100%;
            animation: nav-slide-in-mobile .2s;
            left: 0;
            top: -420px;
            z-index: 222;
        }

            .main-content .navbar p {
                font-size: 15px;
                transform: rotate(57deg) translate(220px, 220px);
                margin-top: 5px;
            }

            .main-content .navbar .icons {
                bottom: 300px;
            }

                .main-content .navbar .icons img:nth-child(1) {
                    margin-left: 80px;
                }
}

@media screen and (max-width: 680px) and (min-width: 370px) {
    .main-content {
        background-position: left;
        padding: 30px;
        overflow-x: hidden;
    }

        .main-content .about-end {
            display: none;
        }

        .main-content .ham {
            width: 25px;
            height: 20px;
        }

        .main-content h1 {
            font-size: 60px;
            margin-top: 20vh;
        }

        .main-content .BigJ {
            display: none;
        }

        .main-content .tag-end {
            margin-top: 80px;
        }

        .main-content .navbar {
            width: 100%;
            animation: nav-slide-in-mobile .2s;
            left: 0;
            top: -520px;
        }

            .main-content .navbar p {
                font-size: 15px;
                transform: rotate(57deg) translate(300px, 260px);
                margin-top: 15px;
            }

            .main-content .navbar .icons {
                bottom: 300px;
            }

                .main-content .navbar .icons img:nth-child(1) {
                    margin-left: 80px;
                }

    .home, .about, .projects, .contact {
        margin: 40px;
    }

        .home:hover::before, .about:hover::before, .projects:hover::before, .contact:hover::before {
            margin-left: 45px;
            font-size: 120px;
            margin-top: -15px;
        }

        .home:hover::before {
            opacity: .3;
        }

        .about:hover::before {
            margin-left: 30px;
            opacity: .3;
        }

        .projects:hover::before {
            margin-left: -10px;
        }

        .contact:hover::before {
            margin-left: -10px;
        }
}

@media screen and (max-width: 1280px) {
    .main-content {
        overflow-x: hidden;
        background-position: center;
    }

        .main-content h1 {
            margin-top: 20vh;
        }

        .main-content .BigJ {
            display: none;
        }
}

@media screen and (max-height: 800px) and (min-height: 300px) {
    .main-content {
        overflow-x: hidden;
        background-position: center;
    }

        .main-content .navbar .icons {
            bottom: 270px;
        }
}

.project-container {
    /*width: 600px;
    height: 600px;
    right: 30px;
    overflow: hidden;
    position: center;
    top: 15px;*/
    color: #171e42;
    height: 300px;
    margin-left: 500px;
    margin-top: -250px;
    right: -250px;
    transition-duration: 1s;
    position: relative;
}

    .project-container::-webkit-scrollbar {
        display: none;
    }

    .project-container .image-container {
        width: 100px;
        height: 100px;
    }


    .project-container:hover {
        transform: scale(1.05);
        transition-duration: 1s;
        box-shadow: 5px 5px 60px #cccccc;
    }

@media screen and (max-width: 680px) {
    .about-end {
        position: relative !important;
    }

    .main-content {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
    }

    .project-container {
        margin-top: 100px;
        height: 800px;
        margin-bottom: 180px !important;
        position: relative;
        overflow: visible;
        width: 100%;
        right: unset;
    }
}

@media screen and (max-width: 1199px) and (min-width: 700px) {
    .about-end {
        display: none !important;
    }

    .main-content {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .project-container {
        margin-top: 100px;
        height: 1400px;
        margin-bottom: 300px !important;
        position: relative;
        overflow: visible;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        right: unset;
    }
}

@media screen and (max-width: 1550px) and (min-width: 1200px) {
    .project-container {
        width: 400px;
        right: 15%;
    }
}

h2 {
    color: #4C4C4C;
    font-family: nunito-sans, sans-serif;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: light;
    text-align: center;
    margin-top: 70px;
}

a {
    color: white;
}

.loader {
    margin: 30px 0px 20px 20px;
    border: 6px solid #A7E7D9;
    border-radius: 50%;
    display: inline-block;
    width: 110px;
    height: 110px;
}

.loader-name {
    text-align: center;
    margin-top: 45px;
    color: white;
}

.about-container {
    width: 600px;
    height: 90%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    right: 34%;
}

    .about-container::-webkit-scrollbar {
        display: none;
    }

    .about-container .image-container {
        width: 100%;
        height: auto;
    }

        .about-container .image-container img {
            width: 100%;
        }

@media screen and (max-width: 1100px) {
    .about-end {
        position: relative !important;
    }

    .main-content {
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
    }

    .about-container {
        margin-top: 100px;
        height: 1800px;
        margin-bottom: 180px !important;
        position: relative;
        overflow: visible;
        -webkit-overflow-scrolling: touch;
        width: 100%;
        right: unset;
    }
}

@media screen and (max-width: 1599px) and (min-width: 1100px) {
    .about-end {
        display: none !important;
    }

    .main-content {
        overflow: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .about-container {
        margin-top: 100px;
        height: 1400px;
        margin-bottom: 300px !important;
        position: relative;
        overflow: visible;
        -webkit-overflow-scrolling: touch;
        width: 60%;
        right: unset;
    }
}

    .about-container {
        margin-top: 100px;
        height: 1400px;
        margin-bottom: 300px !important;
        position: relative;
        overflow: visible;
        -webkit-overflow-scrolling: touch;
        width: 60%;
        right: unset;
    }
}
